*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(img/mapa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-maior{
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.input-texto{
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
}

.idioma{
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;
}

.opcao{
    background-color: #000000f2;
}

button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff1a;
    cursor: pointer;
}

.controle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo-traducao{
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao{
    color: #ffffff99;
    font-size: 18px;
    padding: 10px;
}

.resultado{
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

@media (max-width:600px) {
    .caixa-maior{
        width: 300px;
    }
}